<section>
  <div class="topcontainer">
    <div class="row">
      <div>
        <h2>{{ apiMessage.name }}</h2>
        <p>{{ apiMessage.creator }}</p>
        <p>{{ apiMessage.popularity }}</p>
        <p>{{ apiMessage.discussion[1] }}</p>
      </div>
      <div class="image">
        <p>image</p>
      </div>
    </div>
    <div class="menu">
      <a href="">endpoint</a>
      <a href="">about</a>
      <a href="">Dicsussion</a>
      <a href="">Dicsussion</a>
    </div>
    <div>
      <h4>{{ apiMessage.name }}</h4>
      <p>{{ apiMessage.desc }}</p>
    </div>
  </div>
  <div>
    <div class="apicontrol">
      <div class="query">
        <div>
          <h3>GET</h3>
          <p>exampls</p>
          <p>query param</p>
        </div>
      </div>
      <div class="codesnipe">
        <div>
          <div class="showdata">show data</div>
          <button>Download to Excel</button>
        </div>
      </div>
    </div>
  </div>
</section>
